<h2>Suppliers</h2>


<table>
  <tr>
    <th>Name</th>
    <th>To reorder, call:</th>
  </tr>
  <% for supplier in @suppliers %>
  <tr>
    <td><%= supplier.name %></td>
    <td><a href="tel:<%= supplier.telephone_number %>"><%= supplier.telephone_number %></a></td>
    <td><a href="/suppliers/<%= supplier.id %>/edit">Edit</td>
    <td><a href="/suppliers/<%= supplier.id %>/delete">Delete</a></td>

  </tr>
  <% end %>
</table>
