<h2>Snapshot</h2>


<table>
  <tr>
    <th>Product</th>

    <th>Stock</th>

    <th>Buying cost</th>

    <th>Supplier</th>

    <th>To reorder, call:</th>

    <th>Comments</th>
  </tr>
  <% for product in @products %>
  <tr>
    <td><%= product.product %></td>

    <td><%= product.stock_quantity %></td>

    <td><%= product.buying_cost/100.round(2) %></td>

    <td><%= product.supplier.name %></td>

    <td><%= product.supplier.telephone_number %></td>
    <% end %>

  </tr>

</table>
