<h2>Products in stock</h2>

<li>
  <a href="/products/add">Add</a>
</li>

<table>
  <tr>
    <th>Product</th>

    <th>Description</th>

    <th>Stock Quantity</th>

    <th>Buying cost (£)</th>

    <th>Selling price (£)</th>

    <th>Supplier</th>

    <th>Stock level warnings</th>


  </tr>
  <% for product in @products %>
  <tr>
    <td><%= product.product %></td>

    <td><%= product.description %></td>

    <td><%= product.stock_quantity %></td>

    <td><%= product.buying_cost/100.round(2) %></td>

    <td><%= product.selling_price/100.round(2) %></td>

    <td><a href= "/suppliers"><%= product.supplier.name %></a></td>

    <td>
    <%= p "Out of stock" if product.stock_quantity == 0  %>
        <%= p "Low stock" if (product.stock_quantity <= 10) && product.stock_quantity !=0 %>
    </td>

    <td><a href="/products/<%= product.id %>/edit">Edit</td>

    <td><a href="/products/<%= product.id %>/delete">Delete</a></td>


  </tr>
  <% end %>



</table>
